<div class="page-container">

  <!-- Cabeçalho -->
  <div class="page-header">
    <h2>🦵 Evoluções do Dia</h2>
  </div>

  <!-- Card -->
  <div class="card">

    <table class="table">

      <thead>
        <tr>
          <th>Horário</th>
          <th>Paciente</th>
          <th>Status</th>
          <th>Ação</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let s of sessoes">

          <!-- Horário -->
          <td>{{ s.hora }}</td>

          <!-- Paciente -->
          <td>{{ s.agenda?.paciente?.nome }}</td>

          <!-- STATUS -->
          <td>
            <span class="status-chip" [ngClass]="{
                'agendado': s.status === 'AGENDADO',
                'realizado': s.status === 'REALIZADO'
              }">
              {{
              s.status === 'AGENDADO'
              ? '🔵 Aguardando'
              : '🟢 Concluido'
              }}
            </span>
          </td>

          <!-- AÇÃO -->
          <td>
            <button class="btn" [ngClass]="{
    'btn-primary': !s.evolucoes?.length,
    'btn-warning': s.evolucoes?.length
  }" (click)="evoluir(
    s.id,
    s.evolucoes?.[0]?.id
  )">
              {{
              s.evolucoes?.length
              ? 'Editar evolução'
              : 'Evoluir'
              }}
            </button>
          </td>

        </tr>

        <!-- vazio -->
        <tr *ngIf="!sessoes.length">
          <td colspan="4" class="empty">
            Nenhuma sessão encontrada para hoje.
          </td>
        </tr>

      </tbody>

    </table>

  </div>

</div>