.container {
  height: calc(100vh - 60px); /* ajusta se tiver navbar */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  margin-bottom: 15px;
}

.logo img {
  max-width: 350;
  height: auto;
}

.titulo-pagina {
  margin-bottom: 20px;
  color: #333;
}

.card-sobre {
  background: #ffffff;
  border-radius: 8px;
  padding: 30px;
  max-width: 800px;
  width: 95%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.card-sobre p {
  font-size: 15px;
  line-height: 1.6;
  color: #444;
  margin-bottom: 14px;
  text-align: center;
}

.card-sobre hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #e0e0e0;
}

.info {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  font-size: 14px;
  color: #666;
}
